/*item*/
li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

li button {
    float: right;
    display: none;
    margin-top: 3px;
}

/* li button.btn {
    float: right;
    display: none;
    margin-top: 3px;
}

li:hover {
    background-color: #ddd;
    cursor: pointer;
}

li:hover button.btn {
    display: block;
} */

li label {
    float: left;
    cursor: pointer;
}

li label li input {
    vertical-align: middle;
    margin-left: 6px;
    position: relative;
    top: -1px;
}



li:before {
    content: initial;
}

li:last-child {
    border-bottom: none;
}