.classA {
    width: 600px;
    background-color: antiquewhite;
    padding: 8px;
}

.classB {
    background-color: aqua;
    padding: 8px;
}
.classC {
    background-color: blueviolet;
    padding: 8px;
}